*{margin:0px; padding:0px; box-sizing:border-box;}

body{
	width:100%;
	height:auto;
}

.table-dark td input{
	width:50%;
}

.player-container {
	width:100%;
	height:654px;
}

.player-song-list{
	width:100%;
	height:85%;
	overflow-y: scroll;
	overflow-x: hidden; 
	/*scrollbar-width:none;*/
}


.player-song-list::-webkit-scrollbar{
	background-color:black;
}

.player-song-options{
	width:100%;
	height:15%;
	display:flex;
	flex-direction:row;
}

.player-details, .player-volume{
	width:25%;
}

.player-options{
	width:50%;
}

#slider {
  -webkit-appearance: none;
  width: 70%;
  height: 15px;
  border-radius: 5px;  
  border:4px double grey;
  outline: none;
  -webkit-transition: .2s;
  transition: opacity .2s;
  margin-top:20px;
}

#slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: rgba(255, 0, 85, 0.5);
  cursor: pointer;
}

#slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: rgba(255, 0, 85, 0.5);
  cursor: pointer;
}

@media(min-width:330px) and (max-width:1000px) {
	.player-container{
		height:750px;
	}

	.player-song-list{
		height:70%;
	}

	.player-song-options{
		height:30%;
		text-align: center;
		flex-direction:column;
		justify-content: center;
		align-items: center;
		padding:5px;
	}

	.player-options, .player-volume, .player-details{
		width:100%;
	}


	.table-dark td input{
		width:80%;
	}
	
	#slider{
		margin-top:0px;
		margin-bottom: 5px;
	}
}


@media(min-width: 1500px) and (max-width: 1920px) {
	.player-container{
		height:966px;
	}
}